.statistics {
  .col {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 40px;
    flex-direction: row;
    b {
      display: block;
    }
  }
}
